<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ApnaBank_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.revati.services.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccount</display-name>
    <servlet-name>AddAccount</servlet-name>
    <servlet-class>com.revati.services.AddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccount</servlet-name>
    <url-pattern>/AddAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositMoney</display-name>
    <servlet-name>DepositMoney</servlet-name>
    <servlet-class>com.revati.services.DepositMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositMoney</servlet-name>
    <url-pattern>/DepositMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawMoney</display-name>
    <servlet-name>WithdrawMoney</servlet-name>
    <servlet-class>com.revati.services.WithdrawMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawMoney</servlet-name>
    <url-pattern>/WithdrawMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferMoney</display-name>
    <servlet-name>TransferMoney</servlet-name>
    <servlet-class>com.revati.services.TransferMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferMoney</servlet-name>
    <url-pattern>/TransferMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>com.revati.services.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>
</web-app>